<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>


</head>
<body>
<form method="POST" class="post-form" action="/register/" enctype="multipart/form-data">
        {% csrf_token %}

    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">UserName:</label>
    <div class="col-sm-4">
      {{ form.customerName }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-4">
      {{ form.password }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Customer Age:</label>
    <div class="col-sm-4">
      {{ form.customerAge }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Profile Picture:</label>
    <div class="col-sm-4">
      {{ form.imgfile}}
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>