<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>id</title>
    <script>

        function myfunction(cust_id){
             location.href='/details/'+cust_id;
        }

        function Delfunction(){
             location.href='/loan/';

        }
        function Upfunction(){
             location.href='/insurance/';

        }

        function Infofunction(){
             location.href='/info/';

        }
         function Withfunction(){
             location.href='/with/';

        }
    </script>
</head>

<body onload="onload();">

Welcome:-{{name}}
<center>
<form>
    <center>

    <label> Account Info:</label>&nbsp;<br><br><br><br>

    <input type="button" value="Account_Create"  onclick="myfunction({{cust_id}});"><br><br><br><br>
    <input type ="button" value="get_accoount_info" onclick="Infofunction();"><br><br><br><br>
    <input type ="button" value="Loan_Create" onclick="Delfunction();"><br><br><br><br>
    <input type ="button" value="Insurance_create" onclick="Upfunction();"><br><br><br><br>
    <input type ="button" value="Transcation" onclick="Withfunction();"><br><br><br><br>

</center>
</form>



</center>
</body>
</html>